.link-white,
.link-white:hover,
.link-white:focus,
.link-white:active,
.link-white.active {
	color: #fff;
	outline: none;
}

.project-links {
	repo-link {
		display: inline-block;
		font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 0;
		svg {
			display: inline-block;
			vertical-align: middle;
		}
		path {
			fill: #000;
		}
		span {
			display: inline-block;
			margin-left: 10px;
			vertical-align: middle;
			font-size: 14px;
		}
		&:hover {
			text-decoration: none;
			path {
				fill: @theme-success;
			}
			span {
				text-decoration: underline;
			}
		}
	}
	gh-pages-link {
		display: block;
	}
}