.link-white,
.link-white:hover,
.link-white:focus,
.link-white:active,
.link-white.active {
	color: #fff;
	outline: none;
}

.repo-link {
	a {
		path {
			fill: #000;
		}
		&:hover {
			path {
				fill: #0e2e5d;
			}
		}
	}
}